# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Flask
instance/
.webassets-cache

# Environment variables
.env
.env.*

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# SQLite database
*.db
*.sqlite3

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Migrations (optionnel selon projet)
migrations/versions/*.pyc

# Build / dist
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# System files
Thumbs.db
